body {
    background-color:rgb(214, 211, 240);
    color: rgb(29, 41, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;

    
}
header {
    background-image: linear-gradient(to right bottom, black, rgb(88, 75, 236), rgb(48, 218, 244));
    color: rgba(215, 140, 234, 0.837);
    padding: 16px;
    font-size: 12pt;
    

}
header:hover {

background-image: linear-gradient(to right bottom, black, rgb(150, 150, 150));

}
header:active{
    font-size: 19pt;
    color: chartreuse;
}

footer {
    background-image: linear-gradient(to right bottom, black, rgb(88, 75, 236), rgb(14, 197, 229));
    color: rgba(184, 81, 210, 0.837);
    text-align: right;
    font-style: italic;
    
}

footer:hover {
    background-image: linear-gradient(to right bottom, black, rgb(150, 150, 150));

    color: chartreuse;
}

footer:active {
    font-size: 19pt;
    
}
a {
    transition: 3s

}

A:visited { color: rgb(204, 0, 255);
    background-color: rgb(48, 5, 168);
    

}

A:hover {
    color: rgb(9, 255, 0);
    text-decoration: underline;
    background-color: rgba(163, 14, 158, 0.657);
    font-weight: bold;
    transition: 3s;
    

}

A:active {
    color:aqua;
    background-color: rgb(220, 13, 13);
    
}