body {
    background-color:rgb(249, 250, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {background-color:rgb(249, 250, 255);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


footer {
    
    background-color: rgb(24,31,37);
    color: rgb(249, 250, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
    font-size: 12pt;
}


a {
    transition: 3s;
}

